///
/// _colors.scss
/// Andrea Tino - 2016
///

// Brand colors
$color-brand-dark:      #262626;
$color-brand-white:     #ffffff;
$color-brand-grafite:   #313124;

// Modified colors
$color-header-dark:     $color-brand-grafite;
$color-header-light:    #4a4a4a;
