///
/// _title.scss
/// Andrea Tino - 2016 
///

$title-margin-bottom: 10px;

.root {
    .header .content {
        .title {
            font: $font-title;
            margin: $title-margin-bottom 0;
            color: $color-brand-white;
        }
    }
}