///
/// _title.scss
/// Andrea Tino - 2016 
///

.root {
    .header {
        .title {
            font: $font-title;
            color: $color-brand-white;

            &:after {
                content: "ReleaseTracker";
            }
        }
    }
}